/* navbar */
.bg-light{
    background-color: yellow;
}



/* horizontal-align image */
.horizontal-align{
    color:white;
    margin-top: 50px;
    margin-left: 0px;
    /* font-size: 20px; */
    width: 1450px;
}
.horizontal-align h2{
    font-size: 25px;
    border-bottom: 1px solid white ;    
    margin-left:80px;
}
.horizontal-align .row {
    margin-left: 0px;
}
.horizontal-align .row .column img{
    position: relative;
    width: 200px;
    height: 150px;
}

.text-block{
    position: relative;
    width:200px;
    margin-left: 100px;
}
.text-block p{
    text-align: center;
    font-size: 15px;
    text-align-last: center;
    color: white;

}

/* movie list */
.row{
    margin-top: 30px;
    margin-left: 30px;
}
.column {
    float: left;
    width: 220px;
    padding: 5px;
}  
.row::after {
    content: "";
    clear: both;
    display: table;
}
.column img{
    margin-left: 100px;
    transition:0.6s ease;
    width:100%;
    height:150px;
}
.column:hover{
    transform:scale(1.1);
    z-index:2;
}

.footer {
    /* position: fixed; */
    margin-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:khaki;
    color:gray;
    text-align: left;
}
.dropdown{
    background-color: black;
    margin-left: 40px;
    margin-top: 20px;
}
select{
    text-align: center;
    background-color:  rgb(250, 250, 81);
    width: 150px;
    margin-left: 20px;
    text-align-last: center;
}
.dropdown option{
    text-align: center;
    text-align-last: center;
    background: white;
    text-align-last: justify;
}

.dropdown option:hover{
    background-color: rgb(250, 250, 81);
}

.dropdown input[type=Search] {
    /* float: right; */
    margin-left: 50px;
    border: none;
    margin-top: 20px;
    width: 70%;
    text-align: center;
    background-color:  rgb(250, 250, 81);
    color: black;
}
.dropdown ::placeholder{
    color: black;
}
.dropdown button[type=submit]{
    background:  rgb(250, 250, 81);
    background-color:  rgb(250, 250, 81)ow;
    color: black;
    cursor: pointer;
}



